<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>
<li class='link'>
  <a class='title' href="<%= link.url %>"> website:<%= link.title %></a>
  <div class='description'>

<% if link.description.nil? %>
  <p>A description has not been added.
  <% else %>
    <p>description: <%= link.description %>  <span class='source'>
    added: @ <%= link.time.strftime("%T on %d-%m-%Y") %> by <a href="/profile"><%= link.user_email %></a>
<button type="button">&#9733;</button>

  </span></p>
<% end %>
  </div>
  <div class="tags"> tags: 
		<% link.tags.each do |tag| %>
			 <a href="/tags/<%= tag.text %>"><%= tag.text %></a>
    <% end %>
	</div>
</li>