<head>
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>
<li class='link'>
  <a class='title' href="<%= link.url %>"> website:<%= link.title %></a>
  <div class='description'>

    <p>description: <%= link.description %>  <span class='source'>
    added: @ <%= link.time %> by <a href="#"> <%= link.user_email %></a>
  </span></p>


  </div>
  <div class="tags"> tags:
		<% link.tags.each do |tag| %>
			<a class="link-tags" href="/tags/<%= tag.text %>"><%= tag.text.capitalize %></a>
		<% end %>
	</div>
</li>